@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*navbar Styling*/
.navbar{
    position: fixed;
    width: 100%;
    background-color: crimson;
}

.navbar .menu li a{
    color: black;
}