@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/*navbar Styling*/
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    background-color: none;
    font-family: 'Balsamiq';
    /*배경화면 올리려고*/
    margin-top: 20vh;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    color: black;
    font-size: 35px;
    font-weight: 900;
}
.navbar .menu{
    margin: auto 0 auto auto;
}
.navbar .menu li{
    list-style: none;
    display: inline-block ;
}

.navbar .menu li a{
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: crimson;
}

/*header Styling*/

.header{
    display: flex;
    background: url("./images/main.jpg") no-repeat center;
    height: 120vh;
    color: black;
    min-height: 500px;
    font-family: 'Balsamiq';
     /*배경화면 올리려고*/
     margin-top: -20vh;
}

.header .max-width{
    margin: auto 40px auto auto;
}

.header .header-content .text_1{
    font-size: 30px;
}

.header .header-content .text_2{
    font-size: 75px;
    font-weight: 900;

    }

.header .header-content .text_3{
    font-size: 40px;
    margin: 5px 0;
        }

.header .header-content .text_3 span{
    color: crimson;
    font-weight: 500;
}