@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.heading-background{
    position: fixed;
    opacity: 0.08;
    font-size: 24em;
    left:-0.2em;
    top:-0.5em;
    z-index: -100;
    /* color:#008080; */
    color: crimson;
  }

/*navbar Styling*/
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    background-color: none;
    font-family: 'Balsamiq';
    z-index: 999;
    /*배경화면 올리려고*/
    margin-top: 20vh;
    transition: all 0.3s ease;
}

.navbar.navColor{
    padding: 15px 0;
    background: crimson;
}

.navbar.navColor .max-width .logo a{
    color: white;
    transition: color 0.3s ease;
}

.navbar.navColor .max-width .logo a:hover{
    color: black;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .max-width .logo{
    /* color: black; */
    font-size: 35px;
    font-weight: 900;
}
.navbar .max-width .logo a{
    color: black;
    transition: color 0.3s ease;
}
.navbar .max-width .logo a:hover{
    color: crimson;
}
.navbar .menu{
    margin: auto 0 auto auto;
}
.navbar .menu li{
    list-style: none;
    display: inline-block ;
}

.navbar .menu li a{
    color: black;
    font-size: 22px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar.navColor .menu li a{
    color: white;
}

.navbar .menu li a:hover{
    color: black;
}

.navbar.navColor .menu li a:hover{
    color: black;
}

/*menu button styling*/
 .menu-btn{
    color: black;
    font-size: 23px;
    cursor: pointer;
    display: none;
}


/*header Styling*/

.header{
    display: flex;
    background: url("./images/header.jpg") no-repeat center;
    background-size: cover;
    /* background-attachment: fixed; */
    height: 120vh;
    color: black;
    min-height: 500px;
    font-family: 'Balsamiq';
     /*배경화면 올리려고*/
     margin-top: -20vh;
     /* object-fit: cover; */
}

.header .max-width{
    /* margin: auto 40px auto auto; */
    margin: 300px -30px auto auto;
}

/* .header-content button{
    background: crimson;
    border: 0px;
    border-radius: 6px;
    padding: 1em 3em;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
}

.header-content button:hover{
    opacity: 0.8;
}

.header-content button a{
    font-family: 'Open Sans', sans-serif;
    color:white;
    text-decoration: none;
} */

.header .header-content .text_1{
    font-size: 30px;
}

.header .header-content .text_2{
    font-size: 75px;
    font-weight: 900;

    }

.header .header-content .text_3{
    font-size: 40px;
    margin: 5px 0;
        }

.header .header-content .text_3 span{
    color: crimson;
    font-weight: 500;
}

.header .header-content a{
    display: inline-block;
    background: black;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    /* border: 2px solid black; */
    transition: all 0.3s ease;
}

.header .header-content a:hover{
    color:#fff;
    background: crimson;
}



/*about Page Styling*/

.about{
    padding: 100px 0;
    font-family: 'Poppins';
}

.about .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu';
}

.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 280px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}

.about .title::after{
    content: "Who I am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: white;
    transform: translateX(-50%);
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .left img{
   height: 400px;
   width: 400px;
   object-fit: cover;
   border-radius: 10px;
}

.about .about-content .right{
    width: 55%; 
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span{
    color: crimson;
}

.about .about-content .right p{
    text-align: justify;
}

.about .about-content .right a{
    display: inline-block;
    background: black;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    /* border: 2px solid black; */
    transition: all 0.3s ease;
}

.about .about-content .right a:hover{
    color:#fff;
    background: crimson;
}

/*Experience Page Styling*/

.experience h2{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu';
}

.experience .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 280px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}

.experience .title::after{
    content: "Main Projects";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: white;
    transform: translateX(-50%);
}

.project{
    /* background: crimson; */
    /* display: flex; */
    align-items: center;
    justify-content: center;

    position: relative;
}

.arrow_left{
    height: 500px;
    font-size: 100px;
    position: absolute; 
    cursor: pointer; 
    left: 100px;
     
    
    /* transform: rotate(180deg); */
}

.arrow_right{
    height: 500px;
    font-size: 100px;
    position: absolute;   
    cursor: pointer;  
    right: 100px;
}


.project .slider{
    margin-top: -20px;
    background: rgba(220, 20, 60, 0.37);
    height: 550px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;
    /* left: -100vw; */
}

.project .container{
    padding-top: 70px;
    padding-bottom: 70px;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
}

.project .item{
    width: 700px;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project .item .left{
    flex: 4;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project .item .left .leftContainer{
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project .item .left .leftContainer .imgContainer{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(235, 48, 85);
    display: flex;
    align-items: center;
    justify-content: center;
}
.project .item .left .leftContainer h2{
   font-size: 20px;
}
.project .item .left .leftContainer p{
   font-size: 13px;
}
.project .item .left .leftContainer span{
    font-size: 12px;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}


.project .item .right{
    flex: 8;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.project .item .right img{
    width: 400px;
    height: 300px;
    /* transform: rotate(-10deg); */
}

.project .arrows{
    color: white;
}

/* .about{
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
  }
  .about-content{
    position: relative;
    left:15em;
    margin-left: 70px;
    
  }
  .about-content h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    text-align: left;
    margin-left: -280px;
  }
  .about-content p{
    font-size: 1.3em;
    text-align: left;
    width: 20em;
    margin-left: 300px;
    padding-top: 35px;
    
  }
  .about img{
    float: left;
    width: 350px;
    height: 400px;
    margin-left: -130px;
  } */


  /*Responsive Media Query*/

@media (max-width: 1300px){
    .about .about-content .left img{
        height: 400px;
        width: 400px;
     
     }
    .header .max-width{
       margin-right: 0px;
    }
}

@media (max-width: 1104px){
    .about .about-content .left img{
        padding: 40px;
        height: 350px;
        width: 350px;
     }
   
}
@media (max-width: 991px){
    .about .about-content .left img{
        padding: 40px;
        height: 350px;
        width: 350px;
     }
    .max-width{
        padding: 0 50px;
    }
}
        
@media (max-width: 947px){
   
    .menu-btn{
        display: block;
        z-index: 999;
    } 
    /* .menu-btn i.active:before{
        
        content: "\f00d";
    } */
    .navbar .menu{
      position: fixed;
      height: 100vh;
      width: 35%;
      left: -100%;
      top: 0;
      background: crimson;
      text-align: center;
      padding-top: 80px;
      transition: all 0.3s ease;
    }
    .navbar .menu.active{
      left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
        color: white;
    }

    .navbar.navColor .menu li a{
        color: white;
    }

    .navbar.navColor .menu-btn{
        color: white;
    }

    /* .navbar .menu.active li a:hover {
        color: crimson;
      }
      .menu-btn {
        display: block;
        z-index: 999;
      } */
      /* .menu-link-icon {
        margin: 0 10px
      }
      .menu-btn i#hamburger-bar.active:before {
        content: '\f00d';
      } */

    .header .header-content .text_2{
        font-size: 70px;
        }
    
    .header .header-content .text_3{
        font-size: 35px;
            }

    .header .header-content a {
        font-size: 23px;
        padding: 10px 30px;
    }

    .max-width{
        max-width: 800px;
    }

    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right{
        flex: 100%;
    }

   
}

@media (max-width: 690px){

    .max-width{
        padding: 0 23px;
    }

    .header .header-content .text_2{
        font-size: 60px;
        }
    
    .header .header-content .text_3{
        font-size: 32px;
            }
            .header .header-content a {
                font-size: 20px;
                /* padding: 9px 25px; */
            }
}

@media (max-width: 500px){

    .header .header-content .text_2{
        font-size: 50px;
        }
    
    .header .header-content .text_3{
        font-size: 27px;
            }
}
